{% extends "base.twig" %}

{% block content %}

	<div class="logo-container">
		<div class="content animated fadeIn">
			<div class="logos">
				{% include 'blocks/home_logo.twig' %}
				{% include 'blocks/blog_logo.twig' %}
			</div>
			<h2>{{ __( 'Blog', 'planet4-child-theme-storytelling' ) }}</h2>
		</div>
	</div>

	<article class="single-post-container" id="post-{{ post.ID }}">

		<header class="page-header diagonal-bottom">
			<div class="page-header-background">
				{#<img src="{{ background_image }}" class="page-header-image" alt="Image alt data"/>#}
			</div>
			<div class="container">
				<div class="top-page-tags">
					{% if ( page_type ) %}
						<a class="tag-item tag-item--main page-type" href="{{ fn('get_term_link', page_term_id) }}">{{ page_type|e('wp_kses_post')|raw }}</a>
					{% endif %}

					{% if ( post.issues_nav_data ) %}
						<div class="tag-wrap issues">
							{% for issue in post.issues_nav_data %}
								<a class="tag-item tag-item--main" href="{{ issue.link|default('#') }}">{{ issue.name|e('wp_kses_post')|raw }}</a>
							{% endfor %}
						</div>
					{% endif %}

					{% if (post.tags) %}
						<div class="tag-wrap tags">
							{% for tag in post.tags %}
								<a class="tag-item tag" href="{{ tag.link }}">#{{ tag.name|e('wp_kses_post')|raw }}</a>
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<h1 class="page-header-title">{{ post.title|raw }}</h1>
				<div class="row">
					<div class="col-md-6">
						<div class="single-post-meta">
							<address class="single-post-author">
								{{ __( 'by', 'planet4-master-theme' ) }}
								{% if not ( post.get_author_override ) %}
									<a href="{{ post.author.path }}">{{ post.author.name }}</a>
								{% else %}
									{{ post.author.name }}
								{% endif %}
							</address>
							<time class="single-post-time" pubdate>{{ post.post_date|date }}</time>
						</div>
					</div>
					<div class="col-md-6">
						{% include "blocks/share_buttons.twig" with {post:post} %}
					</div>
				</div>
			</div>
		</header>

		<!-- Featured Image Block -->
		<div class="image-block whale" style="background-image: url({{ background_image }});"></div>

		<!-- Post Block Start -->
		<div class="diagonal-top">
			<div class="container">
				<div class="post-content">
					{% if ( post.take_action_boxout ) %}
						{{ post.take_action_boxout|shortcodes|raw }}
					{% endif %}
					<div class="post-content-lead">
						<article class="post-details">
							{{ post.content|e('wp_kses_post')|raw }}
						</article>
					</div>
				</div>
			</div>
		</div>
		<!-- Post Page Block End -->

		{% if ( post.author.name and post.author.description ) %}
			{% include "blocks/author_profile.twig" with {post:post} %}
		{% endif %}

		<div class="blog-tiles">
			<section class="article-listing page-section">
				{% if ( post.articles ) %}
					<!-- <hr> -->
					{{ post.articles|shortcodes|raw }}
				{% endif %}
			</section>
		</div>
	</article>

	<div class="image-zoomer">
		<span class="image-zoomer-close"><img src="{{ data_nav_bar.images }}close-icon.svg" alt="Close"></span>
		<div class="image-zoomer-content"></div>
	</div>
{% endblock %}
